@import url('./Typography/typography.css');
:root{
    --bg-primary:#4CAF4F;
}
body{
    overflow-x: hidden;
}
.logo{
    width:100px;
    
}
.navbar{
    margin-right: 400px;
}
.Register-button{
    background-color: #4CAF4F;
    border:1px solid #4CAF4F;
    color:white;
    border-radius:4px;
    width: 135px;
}
.Register-button:hover{
    color: white;
    background-color: #4CAF4F;
}
.hero-text,.hero-img{
    
}
.header,.hero-section,.client-section{
    width:100%;
    margin:auto;
}
.hero-div{
    background:#F5F7FA;
    height:420px;
    width:100%;
    gap: 100px;       
}
button{
    background-color: #4CAF4F !important;
    border-radius: 4px;;
}
.hero-img{
vertical-align: text-bottom;       
}
.text{
    color:#4CAF4F;
}
.hero-text{
    padding-top:60px;
    align-items: center;
    justify-content: center;
            
  
}
p{
    font-size: 16px;
}
.client-sub-div{
    width:70%;
    height: 150px;
}
.client-div4{
    background-color: #F5F7FA;
}
.client-image1{
    border-radius:4px;
}
.image-div{
    top:-100px;
    left:20px;

}
p{
    color: #717171;
}
@media  (max-width:992px) {
    .navbar{
        display:none;
    }
    .hamburger{
        display: block;
    }
}

@media screen and (max-width:768px) {
     .nav-menu{
        visibility: hidden;
    }
    .Register-button{
        visibility: visible;
        top:-200px;
        left:500px
    }
    .hamburger{
        position:relative;
        left:400px;
        top:-20px;
        font-size:72px;
        visibility: visible;
    }
    .header,.hero-section{
        flex-wrap: wrap ;
     margin-left:200px;
     width: 100%;
    justify-content: center;
}
.client-section{
width:800px;
margin:auto;
}
.hero-div{
    height:50%;
    background-color: #F5F7FA;
}
.client-text{
    width:100%;
    
}

}
@media screen and (max-width:480px) {
    

.Learn-more-button{
    justify-content: center;

}
}