@import url('./Typography/typography.css');
:root{
    --bg-primary:#4CAF4F;
}
.logo{
    width:100px;
    
}
.navbar{
    margin-right: 400px;
}
.Register-button{
    background-color: #4CAF4F;
    border:1px solid #4CAF4F;
    color:white;
    border-radius:4px;
    width: 135px;
}
.Register-button:hover{
    color: white;
    background-color: #4CAF4F;
}
.hero-text,.hero-img{
    
}
.header,.hero-section,.client-section{
    width:1400px;
    margin:auto;
}
.hero-div{
    background:#F5F7FA;
    height:420px;
    width:100%;
    gap: 100px;       
}
button{
    background-color: #4CAF4F !important;
    border-radius: 4px;;
}
.hero-img{
vertical-align: text-bottom;       
}
.text{
    color:#4CAF4F;
}
.hero-text{
    padding-top:60px;
    align-items: center;
    justify-content: center;
            
  
}
.client-sub-div{
    width:70%;
    height: 80px;
}
.client-div,.client-div4{
    background-color: #F5F7FA;
}
.client-image1{
    border-radius:4px;
}
.image-div{
    background: #F5F7FA;
    top:-100px;
    width:250px;
    border-radius:4px;
    height:100px;
    box-shadow: 0px 5.57px 11.14px 0px #ABBED166;

}
p{
    color: #717171;
}
@media  (max-width:992px) {
    .navbar{
        display:none;
    }
    .hamburger{
        display: block;
    }
}
